<h1>Dwas Ale</h1>
<p>My favourite vacation spot is Italy, Matera.</p>
<p>My another favourite vacation spot is France, Paris.</p>
This is a test.
<p>"All men are created equal, and that they had the right to Life, Liberty and pursuit of happiness."</p>
<h2>The second phase</h2>
<p>Started Node.js</p>
<p>Database using terminal.</p>
<p>MySQL RDBMS.</p>
<p>Revision 2020.</p>
<h3>March 2020</h3>
<p>This is a revision test for git.</p>
<p>Revision 9th of April 2020.</p>
<p>Reading 'Bird Song' from Sebastian Faulks.</p>
<p>Practice week 3. Keeping up to date.</p>
<p>Two things are infinite: the universe and human stupidity; and I'm not sure about the universe 
- Albert Einstein</p>
<p>Always forgive your enimies; nothing worries them so much.
- Oscar Wilde</p>
<p>"To be yourself in the world that is constantly trying to make you something else is the greatest complishment."  --Ralph Waldo Emerson</p>
<p>"Be the change that you wish to see in the world." --Mahatma Gandhi--</p>
<p>"The greatest glory in living lies not in never falling, but in rising every time we fall."</p>